*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #1b1b1b;
    line-height: 1.2;
    font-family:monospace
}
a{
  text-decoration: none;  
}
.cards-container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 22px 50px 22px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    position: relative;
}
.card{
    display:flex;
    flex-direction: column;
    justify-content: start;
    padding: 20px;
    border: 1px solid #1e175f;
    border-radius: 10px;
    position:relative;
}
img{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-position: center center;
}
.card_tags{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    position: relative;
}

.tags{
    border-radius: 10px;
    border: 1px #1e175f;
    padding: 4px 8px;
    background-color: rgb(154, 154, 173);
    font-size: 12px;
    font-family: monospace;
    font-weight: 400;
    cursor: pointer;
    margin-top: 21px;
}
.card_buy{
    width: 100%;
    border-radius: 0.5rem;
    border-color: #1e175f;
    color: #a49eb9 ;
    background: #000000;
    margin-top: 5px;
    cursor: pointer;
    position:relative;
    bottom: 5px;
    padding: 12px 24px;
}
.card_title{

}
.card_title_link{
    font-size: 12px;
    margin-top: 10px;
    
}
@media (max-width: 768px){
   .cards-container {
    display: grid;
    grid-template-columns: 1fr;
   }
}

}

